---
const { compact = false } = Astro.props;
---

<a class:list={["brand-mark", { "brand-mark--compact": compact }]} href="/" aria-label="ChemVault Files home">
  <span class="brand-mark__symbol" aria-hidden="true">
    <img class="brand-mark__logo brand-mark__logo--light" src="/brand/chemvault-logo-light.png" alt="" width="70" height="70" decoding="async" />
    <img class="brand-mark__logo brand-mark__logo--dark" src="/brand/chemvault-logo-dark.png" alt="" width="70" height="70" decoding="async" />
  </span>
  <span class="brand-mark__text">
    <span class="brand-mark__name">ChemVault</span>
    <span class="brand-mark__product">Files</span>
  </span>
</a>
