---
import AppShell from "../../components/AppShell.astro";
import "../../styles/chemvault-files.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/assets/favicon-192.png" type="image/png" sizes="192x192" />
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/chemvault-apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#f5f5f7" />
    <title>ChemVault Files | Shared</title>
  </head>
  <body>
    <AppShell />
    <script>
      import { bootChemVaultFiles } from "../../scripts/chemvault-files";
      bootChemVaultFiles();
    </script>
  </body>
</html>
